<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/" ng-app="appMaps">

<head>
    <meta charset="utf-8" />
    <title>Orion-Orbit-Map</title>
    
    <script src="https://code.angularjs.org/1.3.14/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="http://rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='script.js'></script><!--script-->
    <link rel="stylesheet" href="map.css" />
</head>

<body>
    <div id="map_canvas" ng-controller="mainCtrl">
    <script type="text/ng-template" id="searchbox.tpl.html">
        <input class="form-control" id="focusedInput" type="text" placeholder="Search City " style="width:300px">
    </script>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" events="map.events">
        <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
        <ui-gmap-marker ng-repeat="m in markers" coords="m.coords" icon="m.icon" idkey="m.id"> 
            
        
         <ui-gmap-window  closeClick="closeClick()" isIconVisibleOnClick="true" show="true">
                <div>
                      <h4>Enter the Details:</h4> 
                    
                    This is {{m.massage}}{{$index}}<br>
                    
                    Title: <input class="form-control" type="text"><br>
                    Description : <input class="form-control" type="text"><br>
                    <button class=".btn-info">Update</button>
                    
             
             
             </div>
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>


</html>
